*{
    font: 'poopins';
}
main{
    display: flex;
}
#experiencia{
    flex:7;
    display: flex;
}

#contacto{
    flex:2;
}

#profile{
    flex:4;
}

#circle_1{
    flex:4;
}
#fotoPerfil{
    border-radius: 50%;
    padding: 20%;
}
#boxProcess{
    border-radius: 50%;
    padding: 20%;
}